/* Sidebar */

.sidebar-nav {
  display: flex;
  flex-direction: column;
  width: 256px;
  height: 100vh;
  padding: 1.5rem;
  position: sticky;
  top: 0; 
  background: var(--color-bg-secondary);
  gap: 2rem;
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
  overflow-y: hidden;
}
.sidebar-nav.escondida{
  width: 72px;
  padding: 1rem 1rem;
  white-space: nowrap;
  gap: 1rem;
}
.sidebar-nav p,
.title-logo img[alt="letreiro - IntegraCAT"] {
  transition: opacity 0.2s ease;
  opacity: 1;
}
.sidebar-nav.escondida p,
.sidebar-nav.escondida .title-logo{
  opacity: 0;
  pointer-events: none;
}
#btn-abrir{
  display: none;
  position: fixed;
  top: 1.5rem;
  left: 1.2rem;
  z-index: 10;
  background: transparent;
  border: none;
  cursor: pointer;
}
.sidebar-nav ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sidebar-nav a{
  display: flex;
  gap: 16px;
  font-size: 16px;
}

.sidebar-nav li {
  padding: 1rem ;
  padding-right: 2.1rem;
}

.btn-selecionado{
  background-color: var(--color-bg-primary);
  border-radius: 1rem;
}

/* Logo Sidebar */

.title-logo {
  display: flex;
  align-items: center;
  gap: 0.875rem;
  width: 100%;
  white-space: nowrap;  
}
.title-logo img[alt="letreiro - IntegraCAT"] {
  height: 64px;
  width: 50%;
  object-fit: contain;
  padding-right: 2%;
}
.title-logo img[alt="logo - IntegraCAT"] {
  height: 56px;
  width: 56px;
  object-fit: contain;
}
.lettering-logo{
  width: 40%;
}
.title-logo button {
  background-color: transparent;
  border: 0;
  width: auto;
  cursor: pointer;
}

/* Card alert da dashboard principal */

.card-alert{
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 20px;
  padding: 2rem;
  gap: 0.5rem;
  text-align: center;
  justify-content: center;
  background: var(--color-bg-secondary);
}
.card-alert h2{
  font-size: 36px;
  font-weight: 700;
  word-break:keep-all; 
}
.card-alert h3{
  font-size: 16px;
}

/* INPUTS */

.campo{
  flex: 1;
}
.content-section select, .search-bar, textarea, input{
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-light-primary); 
  border-radius: 10px;
  border-top: 1px solid #ffffff6d;
  border-inline: 1px solid #ffffff6d;
  outline: none;/* Remove borda*/
}
input:focus{
  outline: none;
}

/* Barra de Pesquisa */

.search-bar{
  display: flex;
  gap: 1rem;
  border-radius: 0;
}
.search-bar button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.search-bar input{
  padding: 0;
  border: none;
}

.campo-textarea{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--color-bg-secondary);
}
/* container-ordem*/
.container-ordem{
  display: flex;
  justify-content: end;
  gap: 24px;
  margin-bottom: 24px;
}

/* Conteúdo Card*/

.conteudo-card{
  display: flex;
  gap: 32px;
  padding: 32px;
  margin-bottom: 16px;

  border-radius: 20px;

  background-color: var(--color-bg-secondary);
}

.conteudo-card > div{
  width: 100%;
  display: flex;
  gap: 0.875rem;
  flex-direction: column;
  justify-content: space-between;
}

.conteudo-card div > div{
  width: 100%;
}

.conteudo-card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem;
}

.conteudo-card .acoes{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.conteudo-card > img{
  max-width: 250px;
}

/* Palestra Card*/

.palestra-card{
  display: flex;
  gap: 32px;
  padding: 32px;
  margin-bottom: 16px;

  border-radius: 20px;

  background-color: var(--color-bg-secondary);
}

.palestra-card > div{
  width: 100%;
  display: flex;
  gap: 0.875rem;
  flex-direction: column;
  justify-content: space-between;
}
.palestra-card div > div{
  width: 100%;
}

.palestra-card .acoes{
  width: 100%;
  display: flex;
  justify-content: center;
}

.palestra-card > img{
  object-fit: cover;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  text-align: center;
}

.container-estrelas {
  width: 100%;
  display: inline-block;
}

.estrela {
  width: 24px;
  margin-right: 2px;
}



@media (max-width: 768px) {
  .sidebar-nav {
    position: fixed; 
    top: 0;
    left: 0;
    height: 100vh; 
    max-width: 85vw; 
    width: 256px;
    z-index: 999; 
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.5); 
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }

  .sidebar-nav.escondida {
    transform: translateX(-100%); 
  }

  #btn-abrir {
    position: fixed;
    top: 25px;
    left: 20px;
    z-index: 998; 
    background: transparent;
    border: none;
    cursor: pointer;
  }

  /* PALESTRAS E CONTEÚDOS*/
  .palestra-card{
    flex-direction: column;
    padding: 1.5rem;
  }
  .palestra-card div{
    gap: 0.875rem;
  }
  .container-ordem{
    flex-direction: column;
  }
  .conteudo-card{
    flex-direction: column;
    padding: 1.5rem;
  }
  .conteudo-card div{
    gap: 0.875rem;
  }
}
