main{
  background: var(--color-bg-primary);
}
.container {
  display: flex;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  width: 256px;
  height: 100vh;
  padding: 1.5rem;
  position: sticky;
  top: 0; 
  background: var(--color-bg-secondary);
  gap: 2rem;
}

.sidebar-nav ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.5rem;
}

.sidebar-nav a{
  display: flex;
  gap: 16px;
  font-size: 20px;
}

.content {
  flex: 1; 
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  white-space: nowrap;  
}

.title-logo img[alt="letreiro - IntegraCAT"] {
  height: 64px;
  width: 50%;
  
  object-fit: contain;
  padding-right: 2%;
}
.title-logo img[alt="logo - IntegraCAT"] {
  height: 56px;
  width: 56px;
  object-fit: contain;
}

.lettering-logo{
  width: 40%;
}

.title-logo button {
  background-color: transparent;
  border: 0;
  width: auto;
  cursor: pointer;
}
.content h1{
  font-size: 36px;
}

/*=========================================
    Daqui para baixo itens da dashboard => HOME
=========================================*/
.container-card-alert{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.card-alert{
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 20px;
  padding: 2rem;
  gap: 0.5rem;
  text-align: center;

  background: var(--color-bg-secondary);
}

.card-alert p{
  font-size: 38px;
  font-weight: 700;
}

.card-alert h3{
  font-size: 16px;
}

.container-card-grafico{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card-grafico{
  text-align: center;
  padding: 32px;

  flex: 1;

  border-radius: 20px;

  background: var(--color-bg-secondary);
}

#section-resume{
  padding: 2rem;
  border-radius: 20px;
  
  display: flex;
  gap: 2rem;
  flex-direction: column;
  
  background: var(--color-bg-secondary);
}

#section-resume h2 , #section-resume h3{
  font-size: 20px;
}

.card-ocorrencia{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  border-radius: 1rem;
  border: 2px solid transparent;
  
  background-image: 
    linear-gradient(var(--color-bg-secondary), var(--color-bg-secondary)), 
    var(--gradient-green); 
    
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  box-shadow: 1px 2px 5px #ffffff6e;
}

.card-ocorrencia > span{
  font-weight: bold;
}


/*=========================================
    Daqui para baixo itens da dashboard => CONFIGURAÇÕES
=========================================*/

.content-section{
  
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;

  border-radius: 20px;

  background-color: var(--color-bg-secondary);
}

#informacoes{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0px;
}

#informacoes input{
  width: 100%;
  padding: 8px;
  margin: 16px 0px;
  padding: 8px 4px;/* espaçamento interno para o texto não ficar colado na linha */

  background-color: transparent;

  border: none;
  border-bottom: 2px solid var(--color-light-primary); 
  border-radius: 10px;
  outline: none;/* Remove borda*/

}

#informacoes input::placeholder{
  color: var(--color-light-primary);
}

.configuracaes-basicas{
  padding-top: 12px;
  display: flex;
  flex-direction: row;
  gap: 32px;

  align-items: flex-start;
}
.configuracaes-basicas > div:last-child{
  flex: 1;
}


#alterar-foto {
  position: relative;     /* referência para o botão absoluto */
  width: 250px;
  height: 250px;
  display: inline-block;
}

#alterar-foto img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 20px;
  display: block;
}


#alterar-foto input {
  position: absolute;     /* Flutua sobre a imagem */
  top: 15px;
  right: 15px;
  
  width: 45px;
  height: 45px;
  
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


.container-btn{
  display: flex;
  gap: 20px;
}

.container-btn button{
  border-radius: 50px;
  width: 100%;
}

/*=========================================
    Daqui para baixo itens da dashboard => CONFIGURAÇÕES
=========================================*/

select, option{
  color: black;
}